@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 81 66% 100%;
    --foreground: 81 74% 5%;

    --muted: 51 8% 92%;
    --muted-foreground: 51 1% 27%;

    --popover: 81 66% 100%;
    --popover-foreground: 81 74% 5%;

    --card: 81 66% 100%;
    --card-foreground: 81 74% 5%;

    --border: 81 12% 93%;
    --input: 81 12% 93%;

    --primary: 81 54% 90%;
    --primary-foreground: 81 54% 10%;

    --secondary: 51 54% 90%;
    --secondary-foreground: 51 54% 10%;

    --accent: 111 54% 90%;
    --accent-foreground: 111 54% 10%;

    --destructive: 6 84% 30%;
    --destructive-foreground: 6 84% 90%;

    --ring: 81 54% 90%;
    --radius: 1rem;
  }

  .dark {
    --background: 81 30% 0%;
    --foreground: 81 11% 99%;

    --muted: 51 8% 8%;
    --muted-foreground: 51 1% 73%;

    --popover: 81 30% 0%;
    --popover-foreground: 81 11% 99%;

    --card: 81 30% 0%;
    --card-foreground: 81 11% 99%;

    --border: 81 12% 11%;
    --input: 81 12% 11%;

    --primary: 81 54% 90%;
    --primary-foreground: 81 54% 10%;

    --secondary: 51 54% 90%;
    --secondary-foreground: 51 54% 10%;

    --accent: 111 54% 90%;
    --accent-foreground: 111 54% 10%;

    --destructive: 6 84% 56%;
    --destructive-foreground: 0 0% 100%;

    --ring: 81 54% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "ClashDisplay", sans-serif;
  }

  @font-face {
    font-family: "ClashDisplay";
    src: url("@/assets/fonts/ClashDisplay-Extralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay";
    src: url("@/assets/fonts/ClashDisplay-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay";
    src: url("@/assets/fonts/ClashDisplay-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay";
    src: url("@/assets/fonts/ClashDisplay-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay";
    src: url("@/assets/fonts/ClashDisplay-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay";
    src: url("@/assets/fonts/ClashDisplay-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
}
